.container {
    background: #f7f7f7;
    width: 800px;
    margin: auto;
    border: solid 1px #aaa;
}

header, footer {
    height: 50px;
}
header {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}
.clearer{
    clear: both;
}
#form_container {
    text-align: center;	
}
#contents table.display {
    background: white;
    color: #333;
    text-shadow: #eee 0 0 2px;
    width: 600px;
    margin: auto;
}
